:root {
  --color-footer-bg: #f0f0f0;
  --height-header: 82px;
  --height-footer: 50px;
}
/*As variáveis definidas dentro do seletor root (elemento raiz do HTML), portanto globais, podendo ser acessadas de qualquer lugar do código*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*O seletor universal "*" aplica estilos a todos os elementos da pagina HTML. Usado como um reset básico das configurações padrões de navegadores*/

body,
html,
#root {
  height: 100%;
}
/*Define que a altura dos elementos seja de 100% da altura do elemento pai, portanto o conteúdo principal ocupará toda a altura disponível e o rodapé esteja no final da página. HTML > Body > Root*/

body {
  font-family: sans-serif;
}